<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'chat-room-page.css' %}">
    <title>Title</title>
</head>
<body>

    <div>

        <h1 class="tellme">Please enter a username and password!</h1>

        <form action="{% url 'chat:sign-up' %}" method="POST">

            {% csrf_token %}

            <label for="username">Username:</label>
            <input type="text" name="username" id="username">

            <label for="password">Password:</label>
            <input type="text" name="password" id="Password">

            <button type="submit">Sign Up</button>


        </form>


    </div>




</body>
</html>